
.movieCard{
    width:270px;
    height:452px;
    list-style: none;
    font-size:1.5rem;
}

.movieCard:hover{
    opacity:0.8;
    
}

.movieImage{
    width:270px;
    height:452px;
    border-radius: 10px;
    border-right: 2px solid azure;
    border-bottom: 1px solid azure;
}
.title{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color:rgb(250, 240, 226);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
     border-top-right-radius: 5px; 
    border-top-left-radius: 5px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-left: 10px;
    border-right: 2px solid azure; 
    border-left: 2px solid azure;
    border-bottom: 1px solid azure;

}

@media (max-width: 580px){
    .movieImage{
        width:100%;
        height:auto
    }
}